<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <%= render "/shared/page_header" %>
  
  <section class="content">
    <div class="row">
      <div class="jumbotron col-lg-8 col-xs-12  col-lg-offset-2 title-logo-desc-index">
          <%= image_tag "icon.png", width:'60px', heigth:'60px', class:'title-img' %>
          <h1 class="title-h1"><%= t('Learning terminal') %></h1>
          <p class="title-p"><%= t('home-page-site-description') %></p>
      </div>
      
      <section class="col-lg-12 index-small-boxes-home-page">
        <div class="col-lg-4 col-xs-6  col-lg-offset-2">
          <div class="small-box bg-aqua index-roles-box">
            <div class="inner">
              <h3 class="title"><%= t('Roles') %></h3>
              <p class="p-content"><%= t('Click on "More Info" to display the roles listing') %>.</p>
            </div>
            <div class="icon">
              <i class="fa fa-users"></i>
            </div>
            <a id="roles-more-info" href="#" class="small-box-footer"><%= t('More info') %> <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        
        <div class="col-lg-4 col-xs-6">
          <div class="small-box bg-green index-processes-box">
            <div class="inner">
              <h3 class="title"><%= t('Processes') %></h3>
              <p class="p-content"><%= t('Click on "More Info" to display the processes listing') %>.</p>
            </div>
            <div class="icon">
              <i class="fa fa-tasks"></i>
            </div>
            <a id="processes-more-info" href="#" class="small-box-footer"><%= t('More info') %> <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      
        <div class="col-lg-4 col-xs-6 col-lg-offset-2">
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3 class="title"><%= t('Tasks') %></h3>
              <p class="p-content"><%= t('Choose between browsing tasks or see timetable view') %>.</p>
            </div>
            <div class="icon">
              <i class="fa fa-calendar-check-o"></i>
            </div>
            <%= link_to tasks_path, class:'small-box-footer', style: 'width: 49%;display:inline-block;' do %>
              <%= t('See timetable') %> <i class="fa fa-calendar"></i>
            <% end %>
            <%= link_to '/listing/tasks', class:'small-box-footer', style: 'width: 50%;display:inline-block;' do %>
              <%= t('Browse tasks') %> <i class="fa fa-arrow-circle-right"></i>
            <% end %>
          </div>
        </div>
        
        <div class="col-lg-4 col-xs-6">
          <div class="small-box bg-gray">
            <div  class="inner">
              <h3><%= t('Quality Tip') %></h3>
              <% if !@quality_tip.nil? %>
              <p class="p-content"><strong><%= @quality_tip.name %>:</strong> <%= @quality_tip.description %></p>
              <% end %>
            </div>
            <div class="icon">
              <i class="ion ion-clipboard"></i>
            </div>
            <a href="<%= quality_tips_path %>" class="small-box-footer"><%= t('More tips') %> <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </section>
      
      <section class="col-lg-4"></section>
    </div>
    
    <!--<div class="row">-->
    <!--  <section class="col-lg-6 connectedSortable">-->
    <!--    <div class="box box-primary">-->
    <!--      <div class="box-header">-->
    <!--        <i class="ion ion-clipboard"></i>-->
    <!--        <h3 class="box-title">User Logged in</h3>-->
    <!--      </div>-->
    <!--      <div class="box-body">-->
    <!--        <p>@remote_user: <%= @remote_user %></p>-->
    <!--        <p><%=@user.first_name %></p>-->
    <!--        <p><%=@user.last_name %></p>-->
    <!--        <p><%=@user.full_name %></p>-->
    <!--        <p><%=@user.email %></p>-->
    <!--        <p>country: <%=@user.country %></p>-->
    <!--        <p>city: <%=@user.city %></p>-->
    <!--        <p>phone: <%=@user.phone %></p>-->
    <!--        <p>uid: <%=@user.uid %></p>-->
    <!--        <p>level: <%=@user.level %></p>-->
    <!--        <p>employee_number: <%=@user.employee_number %></p>-->
    <!--        <p>location: <%=@user.location %></p>-->
    <!--        <p>warehouse: <%=@user.warehouse %></p>-->
    <!--        <p>managerstr: <%=@user.managerstr %></p>-->
    <!--        <p>manageruid: <%=@user.manageruid %></p>-->
    <!--        <p>job_title: <%=@user.job_title %></p>-->
            
    <!--        <p>department: <%=@user.department %></p>-->
    <!--        <p>department_number: <%=@user.department_number %></p>-->
    <!--        <p>business_unit: <%=@user.business_unit %></p>-->
    <!--        <p>groups: <%= @user.groups %></p>-->
    <!--        <p>is global admin: <%= @user.is_global_admin %></p>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </section>-->
    <!--</div>-->
  </section>
</div>