<div class="content-wrapper">
  <%= render "/shared/page_header" %>
  
  <section class="content">
    <div class="titles-custom">
      <h1><%= t('Quality tips listing') %></h1>
    </div>
    
    
    <div class="box">
      <div class="box-header"></div>
      <div class="box-body">
        <table class="table table-striped table-listing">
          <thead>
            <tr>
              <th><%= t('Name') %></th>
              <th><%= t('Description') %></th>
              <th><%= t('Department') %></th>
              <th><%= t('Countries') %></th>
              <th><%= t('Building types') %></th>
              <th class="no-order"><%= t('Active') %></th>
              <th class="no-order"><%= t('Show') %></th>
              <th class="no-order"><%= t('Edit') %></th>
            </tr>
          </thead>
          <tbody>
            <% @quality_tips.each do |quality_tip| %>
              <tr>
                <td><%= quality_tip.name %></td>
                <td><%= quality_tip.description %></td>
                <td>
                  <%= decode_list(quality_tip.departments, @departments).join(', ') %>
                </td>
                <td>
                  <%= decode_list(quality_tip.countries, @countries).join(', ') %>
                </td>
                <td>
                  <%= decode_list(quality_tip.building_types, @business_units).join(', ') %>
                </td>
                <td>
                  <% if quality_tip.inactive %>
                    <i class="fa fa-times"></i>
                  <% else %>
                    <i class="fa fa-check"></i>
                  <% end %>
                </td>
                <td>
                  <%= link_to quality_tip do %>
                    <i class="fa fa-eye icon-as-btn"></i>
                  <% end %>
                </td>
                <td>
                  <%= link_to edit_quality_tip_path(quality_tip) do %>
                    <i class="fa fa-pencil icon-as-btn"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    
    <%= link_to t('New quality tip'), new_quality_tip_path, class: 'btn btn-default' %>
  </section>
</div>