<div class="content-wrapper">
  <%= render "/shared/page_header" %>
  
  <section class="content">
    <div class="titles-custom">
      <h1><%= t('Editing role') %></h1>
    </div>
    
    <%= render 'form' %>
    <%= link_to t('Show'), @role, class: 'btn btn-default' %>
    <%= link_to t('Back'), roles_path, class: 'btn btn-default' %>
  </section>
</div>